<main>
    <img class="desktopImage" src="../../assets/landing-page-girl.png" alt="">
    <div class="circleOne"></div>
    <div class="content">
    <div class="landpageContent">
    <h1>Feel The Music</h1>
    <p>Stream over 20 thousand songs with one click</p>
    <button [routerLink]="['/join']" >Join Now</button>
    </div>
</div>
    
    <div class="circleTwo"></div>
    
    <div class="circleThree" ></div>
    <div class="circleFour"></div>
    <div class="circleFive" ></div>
    <div class="circleSix" ></div>

</main>