<section class="joinContent">
<h2>Join the <span class="funPink">fun.</span></h2>
<form action="">
    <div>
    <label for="">Name:</label><br>
    <input type="text">
</div>
<div>
    <label for="">Email:</label><br>
    <input type="email">
</div>
<div>
    <label for="">Password</label><br>
    <input type="password" name="" id="">
</div>
<div>
    <button class="joinButton">Join now</button>
</div>
</form>
<div class="circleTwo"></div>
<div class="circleOne"></div>
<div class="circleThree"></div>
<div class="circleFour"></div>
    

</section>
<app-footer></app-footer>