body {
    background-color: #2F303A; 
    font-family: "Poppins";
}

header{    
    display: flex;
    justify-content: center;
    background-color: #2F303A;
    padding-top: 1rem;
    font-family: "Poppins";
}

.iconAndTitle {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 1rem;
    font-size: 1.2rem;
   }

header a{
    text-decoration: none;
    color: white;    
}

nav a:hover{
    color: #202027;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;
    width: 90%;
}

.discover {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.join {
    text-decoration: none;
    display: flex;
    justify-content: center;
}