<section class="mainSection">
    <div class="discoverContent">
    <h2>Discover new music</h2>
    <div class="iconsContainer">
      <div class="icon">
        <img class="iconImg" src="../../assets/microphone.svg" alt="icono de un microfono" />
        <p>Charts</p>
      </div>
      <div class="icon">
        <img class="iconImg" src="../../assets/albums.svg" alt="icono de albums" />
        <p>Albums</p>
      </div>
      <div class="icon">
        <img class="iconImg" src="../../assets/more.svg" alt="icono de more" />
        <p>More</p>
      </div>
    </div>
    <p class="textDiscover">By joining you can benefit by listening to the latest albums released</p>
    </div>
  
  <img class="coverImg" src="../../assets/covers.jpg" alt="" />
</section>
<app-footer></app-footer>
